@import "fonts.css";

html {
  font-size: 62.5%; /* font-size 1em = 10px */
}

img {
  vertical-align:bottom;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-family: Open Sans, sans-serif;
  box-sizing: border-box;
}


header {
  background: #151537 no-repeat top;
  background-size: cover;
  width: 100%;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
}


.logo {
  display: block;
  margin: 0 auto;
}

.logo svg {
  stroke: #ffffff;
  fill: #ffffff;
}

header h1 {
  /*margin-top: 12rem;*/
  /*margin-bottom: 1.4rem;*/
  /*font-size: 3rem;*/
}

header h2 {
  margin-top: 0;
}


aside.button button {
  margin-top: 1.5rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: left;
  background-color: #5e42b0;
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  justify-content: center;
}


aside.button button>svg {
  margin-right: 0.7rem;
  fill: #ffffff;
}


aside.button button>span {
  white-space: nowrap;
}


aside.button>button>span>strong {
  font-weight: bold;
  display: block;
}

aside.button button:hover {
  cursor: pointer;
  background-color: #501be9;
  transition: none;
}


/** *** CONTENT *** **/

main {
  overflow: hidden;
}

section>div {
  padding-left: 2rem;
  padding-bottom: 3.5rem;
}

section>div.section_white {
  background: white;
}

section>div.section_gray {
  background: #f5f4f9;
  padding-top: 3.5rem;
}

section>div.section_fafafa {
  background: #fafafa;
  padding-top: 3.3rem;
}

section>div.section_purple {
  background: #5e42b0;
  padding-top: 3.2rem;
  padding-bottom: 2rem;
}

section>div.section_purple_dark {
  background: #090a36;
  padding-top: 3rem;
  padding-bottom: 3.8rem;
  color: #ffffff;
}

section h2 {
  color: #e7e7e7;
  text-transform: uppercase;
}

section>div h3 {
  margin-top: 1.5rem;
  margin-bottom: 1.7rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #c1c1c1;
  text-transform: uppercase;
}

section>div h3 span {
  color: #000000;
  border-bottom: 4px solid #5e42b0;
  vertical-align: super;
  position: relative;
  top: 0.4rem;
  margin-right: 0.5rem;
}

section>div.section_purple h3 span {
  border-bottom-color: white;
}

section>div.section_purple_dark h3 span {
  border-bottom-color: white;
  color: #8761e0;
}

section>div p {
  color: #000;
  /*margin-left: 1rem;*/
  letter-spacing: 0.075rem;
  padding-right: 1.5rem;
  line-height: 1.2em;
}

section>div.section_purple_dark p {
  color: white;
}


/** article **/

article>aside {
  display: block;
  position: relative;
  background: #5e3db3;
  width: 7rem;
  height: 7rem;
  top: -6rem;
  left: 2rem;
  color: white;
  text-align: center;
  box-sizing: border-box;
  padding-top: 2rem;
  margin-bottom: -6rem;
}

article>aside>span {
  font-size: 1.4rem;
  border-bottom: 4px solid #8e79ca;
}

article>div.text {
  margin-left: 2rem;
  margin-bottom: 7.8rem;
}

article>div.text>h2 {
  color: #e7e7e7;
  font-size: 2.8rem;
  text-transform: uppercase;
  margin-top: 1rem;
  letter-spacing: 0.075rem;
  margin-bottom: 1.3rem;

}

article>div.text>p {
  font-size: 1.6rem;
  margin-top: 0;
  letter-spacing: 0.08rem;
  padding-right: 2rem;
  line-height: 1.3em;

}

/*** footer **/

footer {
  background: #151537 no-repeat center;
  background-size: cover;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 10rem;
  padding-right: 6.25vw;
  padding-bottom: 0.5rem;
  padding-left: 6.25vw;
}

footer .logo_footer {
  box-sizing: border-box;
  width: 7.2rem;
  height: 7.2rem;
  margin: 0 auto;
  padding: 1.4rem 0.7rem;
  background-color: #5e42b0;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}

footer .logo_footer svg {
  height: 4.5rem;
  width: 5.5rem;
}

footer h2 {
  margin-top: 5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0;
  line-height: 4rem;

}

footer h3 {
  margin-bottom: 7rem;
  margin-top: 0;
  color: #9b8ec1;
  line-height: 2.5rem;
  letter-spacing: 0.05rem;
}

footer .footer_logo {
  margin-top: 8.5rem;
}