@media (min-width: 641px) and (max-width: 959px) {

  header {
    background-image: url("../img/header-768.jpg");
    padding: 4rem 7vw 9rem;
  }

  header h1 {
    font-size: 9vw;
    margin-top: 16rem;
    margin-bottom: 28rem;
    margin-left: 4vw;
    line-height: 1.2em;
  }

  header h1 span {
    font-size: 8.3vw;
    margin-left: 10rem;
    line-height: 1.2;
    letter-spacing: 0.05em;
  }

  .logo {
    width: 20rem;
  }

  div.button {
    display: flex;
  }

  div.button button {
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.5rem;
    border-radius: 45px;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  div.button button>span {
    width: 19rem;
  }

  div.button button>svg {
    width: 4.3rem;
  }

  section.section_athlets {
    position: relative;
  }

  section.section_athlets:nth-child(1) img {
    position: absolute;
    left: -500px;
    margin-left: 42vw;
    top: 9rem;
  }

  section.section_athlets:nth-child(1)>h2,
  section.section_athlets:nth-child(1)>div {
    padding-left: 37.5vw;
  }

  section.section_athlets>h2 {
    font-size: 8rem;
    letter-spacing: 0.01em;
    padding-top: 5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem
  }

  section.section_athlets>div {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  section.section_athlets>div p {
    font-size: 1.6rem;
    line-height: 1.7em;
  }

  section.section_athlets>div h3 span {
    font-size: 1.8rem;
  }

  section.section_athlets>div h3 {
    font-size: 3.2rem;
    line-height: 1.7em;
    margin-bottom: 0;
  }


  section.section_athlets:nth-child(2) img {
    position: absolute;
    margin-left: 44vw;
    top: 3rem;
  }

  section.section_athlets:nth-child(2)>h2,
  section.section_athlets:nth-child(2)>div {
    padding-right: 37.5vw;
    padding-left: 3rem;
  }

  section.section_players>div.text{
    margin-bottom: 9rem;
  }

  section.section_players>div.counter {
    left: 3.5rem;
    width: 11.5rem;
    height: 11.5rem;
    top: -8rem;
    padding-top: 3rem;
  }

  section.section_players>div.counter>span {
    font-size: 2.4rem;
  }

  section.section_players>div.text>h2 {
    font-size: 7.8rem;
    margin-bottom: 0.6rem;
  }

  section.section_players>div.text {
    margin-left: 3rem;
  }

  section.section_players>div.text>p {
    font-size: 2.6rem;
    letter-spacing: 0.04rem;
  }

  section.section_players>div.img img {
    width: 100%;
  }

  footer {
    padding-top: 13rem;
    padding-right: 3.25vw;
    padding-left: 3.25vw;
    background-image: url("../img/footer-320.jpg");
  }

  footer h2 {
    font-size: 10.9vw;
    margin-top: 9rem;
    letter-spacing: 0.14rem;
  }

  footer h3 {
    font-size: 4.4vw;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: 3.7rem;
    margin-bottom: 28rem;
  }

  footer .logo_footer {
    border-radius: 34px;
    width: 13.4rem;
    height: 13.4rem;
  }

  footer .logo_footer svg {
    width: 100%;
    height: 100%;
  }

  footer .footer_logo {
    margin-top: 4.5rem;
  }

}