@media (min-width: 960px) and (max-width: 1920px) {

  header {
    background-image: url("../img/header-1920.jpg");
    padding: 2rem 5.4vw 5rem;
  }

  header h1 {
    font-size: 5rem;
    margin-top: 13.5rem;
    margin-bottom: 0;
    margin-left: 4vw;
    line-height: 1.2em;
  }

  header h2 {
    font-size: 4rem;
    margin-left: 27rem;
    margin-bottom: 10rem;
    line-height: 0.6;
    letter-spacing: 0.13em;
  }

  .logo {
    width: 10rem;
  }

  aside.button {
    display: flex;
    justify-content: center;
  }

  aside.button button {
    flex-basis: 16rem;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 0.8rem;
    border-radius: 22px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  aside.button button>span {
    /*width: 19rem;*/
  }

  aside.button button>svg {
    width: 2.5rem;
  }

  aside.button>button>span>strong {

  }

  section {
    position: relative;
    overflow: hidden;
  }

  section:nth-child(1) img {
    position: absolute;
    /*left: -500px;*/
    margin-left: 15vw;
    top: -1rem;
    width: 35vw;
    max-width: 678px;
  }

  section:nth-child(1)>h2,
  section:nth-child(1)>div {
    padding-left: 52.5vw;
  }

  section>h2 {
    font-size: 4rem;
    letter-spacing: 0.01em;
    padding-top: 4rem;
    margin-top: 0.5rem;
    margin-bottom: 3rem
  }

  section>div {
    padding-bottom: 1.8rem;
  }

  section>div p {
    padding-right: 10rem;
    font-size: 1rem;
    line-height: 1.6em;
    margin-top: 0;
    letter-spacing: 0.05rem;
  }

  section>div h3 span {
    font-size: 1rem;
    top: 0.1rem;
  }

  section>div h3 {
    font-size: 1.8rem;
    /*line-height: 1.7em;*/
    margin-bottom: 0.5rem;
  }


  section:nth-child(2) img {
    position: absolute;
    margin-left: 42vw;
    top: -2rem;
    width: 52vw;
    max-width: 991px;
  }

  section:nth-child(2)>h2,
  section:nth-child(2)>div {
    padding-right: 37.5vw;
    padding-left: 16rem;
  }


  section.section_basketball picture {

  }

  section>div.section_gray {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }

  section>div.section_purple {
    margin-top: 0;
    padding-bottom: 3.5rem;
    padding-top: 2.8rem;
  }

  article {
    display: flex;
    position: relative;
  }

  article:nth-child(2n) div.img {
    order: 1;
  }

  article>div.text,
  article>div.img {
    flex: 1 1 50%;
    margin: 0;
  }

  article>div.img img {
    width: 100%;
  }

  section>div.section_fafafa {
    padding-top: 0;
  }

  article>div{
    /*margin-bottom: 9rem;*/
  }

  article>aside {
    position: absolute;
    top: 10.4rem;
    left: calc(50vw - 5.3rem);
    width: 8.3rem;
    height: 7.8rem;
    padding-top: 2.7rem;

  }

  article>aside>span {
    font-size: 1.3rem;
  }

  article>div.text>h2 {
    font-size: 3.8rem;
    margin-bottom: 4rem;
  }

  article>div.text {
    margin-left: 0;
    padding-left: 5rem;
    padding-top: 11rem;
    box-sizing: border-box;
  }

  article>div.text>p {
    font-size: 1.4rem;
    letter-spacing: 0.001rem;
    padding-right: 15rem;
    line-height: 1.5rem;
  }

  /*article img {*/
    /*width: 100%;*/
  /*}*/

  footer {
    padding-top: 13rem;
    padding-right: 3.25vw;
    padding-left: 3.25vw;
  }

  footer h2 {
    font-size: 10.9vw;
    margin-top: 9rem;
    letter-spacing: 0.14rem;
  }

  footer h3 {
    font-size: 4.4vw;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-top: 3.7rem;
    margin-bottom: 28rem;
  }

  footer .logo_footer {
    border-radius: 34px;
    width: 13.4rem;
    height: 13.4rem;
  }

  footer .logo_footer svg {
    width: 100%;
    height: 100%;
  }

  footer .footer_logo {
    margin-top: 4.5rem;
  }
}