@media (min-width: 960px) {

  header {
    background-image: url("../img/header-1920.jpg");
    padding: 4.5rem 5.4vw 12rem;
  }

  header h1 {
    font-size: 5vw;
    margin-top: 26.5rem;
    margin-bottom: 0;
    margin-left: 9vw;
    line-height: 1.2em;
  }

  header h2 {
    font-size: 4vw;
    margin-left: 26vw;
    margin-bottom: 22rem;
    line-height: 0.6;
    letter-spacing: 0.13em;
  }

  .logo {
    width: 20rem;
  }

  aside.button {
    display: flex;
    justify-content: center;
  }

  aside.button button {
    flex-basis: 31rem;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.3rem;
    border-radius: 36px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  aside.button button>span {
    /*width: 19rem;*/
  }

  aside.button button>svg {
    width: 5rem;
  }

  aside.button>button>span>strong {

  }

  section {
    position: relative;
    overflow: hidden;
  }

  section:nth-child(1) img {
    position: absolute;
    /*left: -500px;*/
    margin-left: 15vw;
    top: -1rem;
    width: 35vw;
    max-width: 678px;
  }

  section:nth-child(1)>h2,
  section:nth-child(1)>div {
    padding-left: 52.5vw;
  }

  section>h2 {
    font-size: 4vw;
    letter-spacing: 0.01em;
    padding-top: 4vw;
    margin-top: 0.7vw;
    margin-bottom: 2.5vw
  }

  section>div {
    padding-bottom: 1.9vw;
  }

  section>div p {
    padding-right: 7.5vw;
    font-size: 1.2vw;
    line-height: 1.2em;
    margin-top: 0;
    letter-spacing: 0;
  }

  section>div h3 span {
    font-size: 0.9vw;
    top: 0.1rem;
  }

  section>div h3 {
    font-size: 1.8vw;
    /*line-height: 1.7em;*/
    margin-bottom: 0.8vw;
  }


  section:nth-child(2) img {
    position: absolute;
    margin-left: 42vw;
    top: -2rem;
    width: 52vw;
    max-width: 991px;
  }

  section:nth-child(2)>h2,
  section:nth-child(2)>div {
    padding-right: 37.5vw;
    padding-left: 15.5vw;
  }


  section.section_basketball picture {

  }

  section>div.section_gray {
    padding-top: 3.3rem;
    padding-bottom: 3rem;
  }

  section>div.section_purple {
    margin-top: 0;
    padding-bottom: 7.5rem;
    padding-top: 7rem;
  }

  article {
    display: flex;
    position: relative;
  }

  article:nth-child(2n) div.img {
    order: 1;
  }

  article>div.text,
  article>div.img {
    flex: 1 1 50%;
    margin: 0;
  }

  article>div.img img {
    width: 100%;
  }

  section>div.section_fafafa {
    padding-top: 0;
    padding-bottom: 8rem;
  }

  article>div{
    /*margin-bottom: 9rem;*/
  }

  article>aside {
    position: absolute;
    top: 10.5vw;
    left: calc(50vw - 4.15vw);
    width: 8.3vw;
    height: 7.7vw;
    padding-top: 2.75vw;
  }

  article>aside>span {
    font-size: 1.25vw;
  }

  article>div.text>h2 {
    font-size: 3.9vw;
    margin-bottom: 4.5vw;
  }

  article>div.text {
    margin-left: 0;
    padding-left: 6vw;
    padding-top: 11.5vw;
    box-sizing: border-box;
  }

  article:nth-child(2n)>div.text {
    padding-left: 9.5vw;
  }

  article>div.text>p {
    font-size: 1.2vw;
    letter-spacing: 0.05em;
    padding-right: 22vw;
    line-height: 1.2em;
  }

  article:nth-child(2n)>div.text>p {
    padding-right: 17.5vw;
  }


  /*article img {*/
    /*width: 100%;*/
  /*}*/

  footer {
    padding-top: 15vw;
    padding-right: 3.25vw;
    padding-left: 3.25vw;
    background-image: url("../img/footer-1920.jpg");
}

  footer div.footer_top h2 {
    font-size: 5vw;
    margin-top: 0;
    /*margin-top: 9rem;*/
    letter-spacing: 0.2rem;
    line-height: 1.3em
  }

  footer div.footer_top h3 {
    font-size: 1.5vw;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  footer div.footer_top div {
    padding-top: 1rem;
  }

  footer .logo_footer {
    width: 6.5vw;
    height: 7vw;
    margin-top: 1vw;
    margin-right: 1.5vw;
    margin-left: 0;
}

  footer .logo_footer svg {
    width: 100%;
    height: 100%;
  }

  footer .footer_logo {
    margin-top: 26.5rem;
    margin-bottom: 4rem;
  }

  footer div.footer_top {
    display: flex;
    justify-content: center;
    margin-bottom: 7vw;
  }
}